html {
  scrollbar-color: stable;
}

body {
  &:has(dialog[open]) {
    overflow: hidden;
  }
}

header {
  section {
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: #ffc700;
    .content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      max-width: 1440px;
      color: #7e8482;

      img {
        height: 100px;
        border-radius: 20px;
      }

      h1 {
        font-size: 40px;
      }

      input {
        background-color: wheat;
        font-size: 25px;
        outline: none;
        border-radius: 5px;
        padding: 5px;
      }

      input[type="submit"]{
       background-color: #c4c801;
       cursor: pointer;
      }
      input[type="submit"]:hover{
       background-color: #e9ea92;
      }
      input[type="submit"]:active{
       background-color: #9da001;
       cursor: pointer;
      }
    }
  }
}

main {
  article {
    display: flex;
    justify-content: center;
    background-color: #fff455;

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3%;
      min-height: 95vh;
      width: 100%;
      max-width: 1440px;
      padding: 5% 2% 2%;
      color: #fcfcfc;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
        width: 300px;
        padding: 20px;
        margin-bottom: 3%;
        border-radius: 15px;
        cursor: pointer;
        background-color: #007f73;

        h2 {
          font-size: 30px;
          text-transform: capitalize;
        }

        .card-details {
          display: flex;
          justify-content: space-around;

          .type-details {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
              padding: 5px 10px;
              margin: 5px;
              border-radius: 5px;
              background-color: #6e8c0a8e;
            }
          }

          img {
            height: 150px;
            width: auto;
            object-fit: contain;
          }
        }
      }

      .bg-grass {
        background-color: #05d72f;
      }

      .bg-fire {
        background-color: #ff8c00;
      }

      .bg-water {
        background-color: #0ab4ed;
      }

      .card:hover {
        background-color: #bbd236f3;
      }
    }
  }

  article {
    .pokemon-dialog {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 800px;
      width: 600px;
      padding: 5px;
      border-radius: 5px;
      outline: none;
      .content {
        display: flex;
        flex-direction: column;

        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
        padding: 2%;
        color: #343c3b;

        .head-content {
          display: flex;
          flex-direction: column;
          width: 100%;

          h2 {
            padding-left: 50px;
            font-size: 30px;
          }

          .types-img {
            display: flex;
            justify-content: space-around;

            .types {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 10px;

              p {
                background-color: #007f73;
                padding: 5px 10px;

                border-radius: 5px;
              }
            }
            img {
              height: 300px;
              object-fit: contain;
            }
          }
        }

        .main-content {
          display: flex;
          flex-direction: column;
          background-color: rgb(252, 252, 252);

          .menu {
            display: flex;
            background-color: #c4c801;

            .active-details{
             background-color: #999c01;
            }

            a {
              display: flex;
              flex: 1;
              outline: none;
            }

            button {
              width: 100%;
              padding: 10px;
            }

            a:hover {
              background-color: #cacc67;
            }

            a:active {
              background-color: #999c01;
            }
          }

          .details-content {
            .about-content {
              display: flex;
              flex: 1;
              flex-direction: column;
              gap: 20px;
              height: 300px;
              padding: 20px;
            }

            .state-content {
              display: flex;
              flex: 1;
              flex-direction: column;
              gap: 10px;
              height: 300px;
              padding: 20px 0 0 20px;
              
            }

            .sprite-content {
              display: flex;
              justify-content: center;
              flex: 1;
              height: 300px;

              img {
                width: 150px;
                object-fit: contain;
              }
            }

         
          }
        }
        .footer-content {
          display: flex;
          justify-content: space-around;

          button {
            background-color: #c4c801;
            width: 80px;
            height: 30px;
            border-radius: 30px;
          }

          button:hover {
            background-color: #cacc67;
          }

          button:active {
            background-color: #999c01;
          }
        }
      }
    }

    .pokemon-dialog::backdrop {
      background-color: #90914bdc;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    background-color: #fff455;

    .content {
      display: flex;
      justify-content: center;
      gap: 5%;
      padding: 3%;
      width: 100%;
      max-width: 1440px;
      color: #7a7676;
      button {
        padding: 5px 10px;
        width: 80px;
        border-radius: 10px;
        background: #d4d705;
      }

      button:hover {
        background-color: #cacc67;
      }

      button:active {
        background-color: #c4c801;
      }

      button[disabled] {
        background-color: #eced81;
        color: #d2daa5b2;
      }
    }
  }
}

footer {
  section {
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: #ffc700;
    .content {
      width: 100%;
      max-width: 1440px;
      color: #7e8482;
    }
  }
}
