* {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: inherit;
  border: inherit;
  color: inherit;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

a {
  list-style-type: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}
